<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="auth.user$ | async as user">
    <ion-card-header>
      <ion-card-subtitle>{{ user.type }}</ion-card-subtitle>
      <ion-card-title>{{ user.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ng-container *ngIf="user.type == 'contractor'">
        <p>LicenseNo:{{ user.licenseNo }}</p>
        <p>Email:{{ user.email }}</p>
        <p>Phonenumber:{{ user.phoneNumber }}</p>
        <p>AddressLines:{{ user.addressLines }}</p>
        <p>Status:{{ user.status }}</p>
      </ng-container>
      <ng-container *ngIf="user.type == 'user'">
        <p>Email:{{ user.email }}</p>
        <p>Phonenumber:{{ user.phoneNumber }}</p>
      </ng-container>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item button (click)="onLogin()" *ngIf="!(auth.user$ | async)"
      >Login</ion-item
    >
    <ion-item button *ngIf="auth.user$ | async" (click)="onLogout()"
      >LogOut</ion-item
    >
  </ion-list>
</ion-content>
