<!-- <ion-toolbar>
  <ion-buttons slot="end">
    <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
      <ion-fab-button (click)="drawer.toggleState()">
        <ion-icon
          [name]="
            (drawer.isOpen$ | async)
              ? 'notifications-outline'
              : 'camera-outline'
          "
        ></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-buttons>
</ion-toolbar> -->
<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="drawer.toggleState()">
      <ion-icon
        [name]="
          (drawer.isOpen$ | async) ? 'notifications-outline' : 'camera-outline'
        "
      ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="centerContainer" style="background-image: url('/assets/camera_demo.jpg');">
    <ion-card class="videoCard" style="display: none;">
      <video
        autoplay="true"
        id="myVideo"
        muted
        poster="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
      ></video>
      <canvas id="myCanvas" class="capture"></canvas>
    </ion-card>
  </div>
</ion-content>
