<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>WILD EYE</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="centerContainer">
    <ion-card class="videoCard">
      <video
        autoplay="true"
        id="myVideo"
        muted
        poster="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
      ></video>
      <canvas id="myCanvas" class="capture"></canvas>
    </ion-card>
  </div>
</ion-content>
